* {
  font-family: tajawal !important;
}
img {
  width: 100%;
  height: auto !important;
}
.hero-bg {
  height: 50vh;
  background-image: url("../../../assets/imgs/hero-quran.jpg");
  background-position: -57rem -80rem;
  background-repeat: no-repeat;
}
.floating-card {
  margin-top: -4%;
}

.mat-mdc-card-avatar {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.hero-card {
  max-width: 25rem;
  max-height: 9.375rem;
  transition: transform 300ms ease-in-out, ease-in-out;
}
.quran-img {
  background-image: url("../../../assets/icons/quran.png");
  background-size: cover;
}
.tafsir-img {
  background-image: url("../../../assets/icons/tafsir.png");
  background-size: cover;
}
.listening-img {
  background-image: url("../../../assets/icons/listening.png");
  background-size: cover;
}
.translation-img {
  background-image: url("../../../assets/icons/translation.png");
  background-size: cover;
}
/* media query for mobiles */
@media only screen and (max-width: 767px) {
  .hero-bg {
    background-position: center;
  }
  .hero-section {
    height: auto;
  }
  .hero-card {
    margin: auto;
    margin-bottom: 1rem;
  }
}
