<div class="container my-5">
  <div class="row justify-content-center m-higher">
    <ng-container *ngFor="let q of paginatedQuraan">
      <div class="col-md-3" *ngIf="q">
        <ul class="list-group my-2">
          <li class="list-group-item card-head" (click)="gotoItems(q)">
            {{ q.name }}
            <span class="badge card-head-bagde float-end">{{ q.number }}</span>
          </li>
          <li class="list-group-item">{{ q.englishName }}</li>
          <li class="list-group-item">{{ q.englishNameTranslation }}</li>
          <li class="list-group-item">{{ q.revelationType }}</li>
        </ul>
      </div>
    </ng-container>
    <mat-paginator
      [length]="surahs.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
