* {
  font-family: tajawal !important;
}
.aya-number {
  width: 30px;
}
p {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px !important;
  bottom: 0;
}
.surah-header {
  background-color: var(--teal);
}

/* adjusting font dropdown  */
.normal {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
.xLarge {
  font-size: 25px;
}
@media (max-width: 768px) {
  ul {
    flex-wrap: wrap;
  }
  .m-higher {
    margin-bottom: 7rem;
  }
}
