* {
  font-family: "tajawel" !important;
}
.aya-number {
  width: 30px;
}
p {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px !important;
  bottom: 0;
}
.surah-header {
  background-color: var(--teal);
}
.height {
  height: 350px;
}
.bookmark-btn {
  top: -32px;
  right: 0;
  opacity: 0;
  width: 130px;
}
.aya {
  padding: 10px 0;
  letter-spacing: normal;
}
.aya:active {
  border: 2px solid var(--teal-transparent);
}
.aya:hover .bookmark-btn {
  opacity: 1;
}
.aya-bookMark {
  background-color: var(--teal-transparent);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
/* adjusting font dropdown  */
.normal {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
.xLarge {
  font-size: 25px;
}

/*======== responsive ======== */
@media (max-width: 768px) {
  ul {
    flex-wrap: wrap;
  }
  .m-higher {
    margin-bottom: 7rem;
  }
}
