<div class="container" *ngIf="surah$">
  <header tabindex="0" class="row py-5 g-0 surah-header px-2 mb-5">
    <div class="col">
      <h4 class="text-light">
        {{ (surah$ | async)?.name }}
      </h4>
      <ul class="list-group d-flex flex-row list-unstyled align-items-center">
        <!-- start -->
        <li class="m-1 btn-group">
          <button
            class="btn btn-sm dropdown-toggle bg-light text-teal border-light"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Choose Quran Surahs"
          >
            سور القرآن الكريم
          </button>
          <ul class="dropdown-menu height overflow-y-scroll">
            <li
              class="dropdown-item"
              tabindex="0"
              *ngFor="let surah of surahs$ | async"
              (click)="chooseSurah(surah.number)"
            >
              {{ surah?.name }}
            </li>
          </ul>
        </li>
        <!-- end -->
        <!-- start -->
        <li class="m-1 btn-group">
          <button
            class="btn btn-sm dropdown-toggle text-teal bg-light border-light"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Change font size"
          >
            تغيير حجم الخط
          </button>
          <ul class="dropdown-menu">
            <li
              class="dropdown-item"
              tabindex="0"
              (click)="selectedFont = 'normal'"
            >
              عادي
            </li>
            <li
              class="dropdown-item"
              tabindex="0"
              (click)="selectedFont = 'large'"
            >
              كبير
            </li>
            <li
              class="dropdown-item"
              tabindex="0"
              (click)="selectedFont = 'xLarge'"
            >
              كبير جداً
            </li>
          </ul>
        </li>
        <!-- end -->
        <li class="mx-1">
          <span class="text-light fw-bold">ترتيب السورة</span>
          <span class="mx-1 text-secondary badge bg-light text-teal">
            {{ (surah$ | async)?.number }}
          </span>
        </li>
        <li class="mx-1">
          <span class="text-light fw-bold">عدد اﻵيات</span>
          <span class="mx-1 text-secondary badge bg-light text-teal">
            {{ (surah$ | async)?.numberOfAyahs }}</span
          >
        </li>
        <li class="mx-1">
          <span class="text-light fw-bold">التنزيل</span>
          <span class="mx-1 text-secondary badge bg-light text-teal">
            {{
              (surah$ | async)?.revelationType === "Medinan" ? "مدنية" : "مكية"
            }}</span
          >
        </li>
      </ul>
    </div>
  </header>
  <div class="my-5 d-flex justify-content-around align-items-center">
    <button
      class="btn btn-teal"
      (click)="previousSurah()"
      [ngClass]="(surah$ | async)?.number === 1 ? 'disabled' : ''"
    >
      السورة السابقة
    </button>
    <h3>{{ (surah$ | async)?.name }}</h3>
    <button
      class="btn btn-teal"
      [ngClass]="(surah$ | async)?.number === 114 ? 'disabled' : ''"
      (click)="nextSurah()"
    >
      السورة التالية
    </button>
  </div>
  <div class="row justify-content-center m-higher text-center">
    <div class="col-md-8 col-sm-12">
      <ng-container *ngFor="let ayah of (surah$ | async)?.ayahs">
        <span
          appBookMark
          [surahNumber]="activesurahNumber"
          [ayahNumberInSurah]="ayah.numberInSurah"
          class="aya position-relative"
          [ngClass]="selectedFont"
          [id]="ayah?.numberInSurah"
          (click)="openDialog(ayah.text, activesurahNumber, ayah.numberInSurah)"
        >
          {{ ayah?.text }}
        </span>
        <span class="aya-number mx-1 position-relative d-inline-block">
          <img src="assets/icons/Ayah2.svg" class="w-100" alt="aya-number" />
          <p class="position-absolute m-0 text-center">
            {{ ayah?.numberInSurah }}
          </p>
        </span>
      </ng-container>
    </div>
  </div>
</div>
