* {
  font-family: tajawal !important;
}
.aya-number {
  width: 5%;
}
p {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px !important;
}
.surah-header {
  background-color: var(--teal);
}

/* adjusting font dropdown  */
.normal {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
.xLarge {
  font-size: 25px;
}
