<div class="container">
  <div class="row justify-content-center m-higher pt-5">
    <div class="col">
      <div class="d-flex">
        <h4>
          {{ surah?.name }}
        </h4>
        <div class="mx-1 btn-group">
          <button
            class="btn btn-sm dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            حجم الخط
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="selectedFont = 'normal'">
              عادي
            </li>
            <li class="dropdown-item" (click)="selectedFont = 'large'">كبير</li>
            <li class="dropdown-item" (click)="selectedFont = 'xLarge'">
              كبير جداً
            </li>
          </ul>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <ng-container *ngFor="let ayah of ayahs">
          <li
            [ngClass]="selectedFont"
            class="list-group-item d-flex align-items-center flex-wrap aya-li"
          >
            {{ ayah?.text }}
            <span class="aya-number mx-1">
              <img src="assets/icons/Ayah.png" alt="" />
              <p>{{ ayah.numberInSurah }}</p>
            </span>
          </li>
        </ng-container>
      </ul>
      <h6 *ngIf="surah?.name">صدق الله العظيم</h6>
    </div>
  </div>
</div>
