:root {
  --teal: #91ddcf;
  --teal-dark: #6bb6a8;
  --teal-transparent: #91ddcf6e;
}
@font-face {
  font-family: "Tajawal";
  src: url("assets/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UthmanicHafs_v22";
  src: url("assets/fonts/UthmanicHafs_v22/UthmanicHafs_V22.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Tajawal";
}
body {
  margin: 0;
  padding: 0;
}
.m-higher {
  margin-bottom: 5rem;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: var(--teal-transparent);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--teal);
}
.text-teal {
  color: var(--teal-dark) !important;
}
/* bookmark styling */
#bookmarked-ayah {
  background-color: var(--teal-transparent);
  padding: 10px 0;
}
