<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col text-center">
      <form class="d-flex justify-content-start">
        <!-- start -->
        <div class="form-floating mx-1">
          <select
            class="form-select"
            id="floatingSelectRecieter"
            aria-label="Floating label select example"
          >
            <option selected>اختر اسم القارئ</option>
            <ng-container
              *ngFor="let recieter of (recieters | async)?.data; let i = index"
            >
              <option *ngIf="recieter.language === 'ar'" value="{{ i }}">
                {{ recieter.name }}
              </option>
            </ng-container>
          </select>
          <label for="floatingSelectRecieter">القارئ</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="form-floating mx-1">
          <select
            class="form-select"
            id="floatingSelectSurah"
            aria-label="Floating label select example"
          >
            <option selected>اختر اسم السورة</option>
            <ng-container
              *ngFor="let surah of (surahs | async)?.data; let i = index"
            >
              <option value="{{ i }}">
                {{ surah.name }}
              </option>
            </ng-container>
          </select>
          <label for="floatingSelectSurah">السورة</label>
        </div>
        <!-- end -->
      </form>
      <div class="my-5">
        <audio controls class="list-group">
          <source src="horse.ogg" type="audio/ogg" />
          <source src="horse.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
</div>
